/*  COLOR PALETTE:
    RED: #ef476f
    YELLOW: #ffd166
    GREEN: #06d6a0
    BLUE: #118ab2
    DARK BLUE: #073b4c  */

body {
  background-color: #073b4c;
}

.heading {
  text-align: center;
  color: #eee;
}

.main {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 100px;
}

.player {
  width: 500px;
  text-align: center;
}

.info{
  width: 310px;
  margin: 0 25px;
}

.oponent {
  width: 500px;
  text-align: center;
}

.pc-choice {
  font-size: 120px;
  color: #118ab2;
}

.npc-choice {
  font-size: 120px;
  color: #ffd166;
}

.round-result {
  font-size: 20px;
  font-weight: 600;
  color: #06d6a0;
  text-align: center;
}
