/*  COLOR PALETTE
    ---
    RED: #ef476f
    YELLOW: #ffd166
    GREEN: #06d6a0
    BLUE: #118ab2
    DARK BLUE: #073b4c
    ---
    LIGHT GREY: #eee
    GREY: #9a9a9a  */

body {
  padding: 40px 0;
  background-color: #073b4c;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h1, h2, p {
  margin: 0;
}

.header {
  margin-bottom: 40px;
}

/* Main */

.main {
  display: grid;
  grid-template-columns: 200px 540px 200px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "player results opponent"
    ". controls .";
  justify-content: center;
}

/* Player box */

.player {
  grid-area: player;
  margin-bottom: 20px;
  text-align: center;
}

/* Results box */

.results {
  grid-area: results;
  margin: 0 20px;
  text-align: center;
}

.result-box {
  min-height: 110px;
}

.final-result {
  transition: all 0.3s;
}

.round-result {
  display: none;
  padding: 7px 7px 5px;
  background-color: #ffd166;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  color: #073b4c;
  text-transform: uppercase;
  transition: all 0.3s;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.stat {
  width: 100px;
  margin-bottom: 20px;
  padding: 7px;
  background-color: #ffd166;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  color: #073b4c;
  text-transform: uppercase;
  transition: all 0.3s;
}

.round-count,
.draws,
.wins,
.defeats {
  font-size: 34px;
}

/* opponent box */

.opponent {
  grid-area: opponent;
  text-align: center;
  margin-bottom: 20px;
}

.player-choice,
.opponent-choice {
  font-size: 120px;
  color: #ffd166;
}

/* Controls */

.controls {
  grid-area: controls;
  text-align: center;
}

.select {
  margin-bottom: 30px;
}

.selection {
  background-color: transparent;
  border: none;
  font-size: 100px;
  color: #118ab2;
  cursor: pointer;
  transition: all 0.3s;
}

.selection:focus {
  outline: none;
}

.selection:hover {
  color: #14a2d1;
  transition: all 0.3s;
}

.end-game {
  color: #9a9a9a;
  pointer-events: none;
}

.new-game {
  display: none;
  margin-bottom: 47px;
  padding: 11px 20px 10px;
  background-color: #118ab2;
  border: none;
  border-radius: 6px;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.new-game:hover {
  background-color: #14a2d1;
  transition: all 0.3s;
}

/* Footer */

.footer {
  text-align: center;
}

.footer-text {
  padding: 7px;
  background-color: #ffd166;
  color: #073b4c;
  border-radius: 6px;
  color: #073b4c;
  font-size: 14px;
  font-weight: 700;
}

.footer-link {
  color: #118ab2;
  text-decoration: none;
  transition: all 0.3s;
}
.footer-link:hover {
  color: #14a2d1;
  transition: all 0.3s;
}

/* ETC */

.heading {
  margin-bottom: 20px;
  font-family: 'Bangers', cursive;
  text-align: center;
  text-transform: uppercase;
}

.win {
  color: #06d6a0;
}

.draw {
  color: #ffd166;
}

.lose {
  color: #ef476f;
}

.win-bg {
  background-color: #06d6a0;
}

.lose-bg {
  background-color: #ef476f;
}

.rotate-45 {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate-315 {
  -moz-transform: rotate(315deg) scale(-1, 1);
  -o-transform: rotate(315deg) scale(-1, 1);
  -webkit-transform: rotate(315deg) scale(-1, 1);
  transform: rotate(315deg) scale(-1, 1);
}

/* Media queries */

@media only screen and (max-width: 959px) {
  .main {
    grid-template-columns: 250px 250px ;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "player opponent"
    ". ."
    ". .";
  }

  .results {
    grid-area: 2 / 1 / 2 / 3;
  }

  .controls {
    grid-area: 3 / 1 / 3 / 3;
  }

  .stats-col {
    display: inline-flex;
  }

  .stats-col:not(:last-child),
  .stat:not(:last-child) {
    margin-right: 20px;
  }
}
